<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jarvis Server</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>

<body>
  <div id="app">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Jarvis Dashboard
          </h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">

        <div class="columns is-mobile">
          <div class="column" v-for="device in devices" :key="device._id">
            <button :class="{
              button: true,
              'is-primary': device.isOn,
              'is-danger': !device.isOn
            }" @click="toggleState(device)">
              {{ device.name }}
            </button>

          </div>
        </div>
      </div>
    </section>


  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      methods: {
        toggleState(device) {
          axios.post('/web', {
            _id: device._id,
            isOn: !device.isOn
          }).then(result => {
            console.log(`home#Result: ${JSON.stringify(result.data)}`);
            device.isOn = result.data.isOn
          })
        }
      },
      mounted: async function () {
        let response = await axios.get('/devices')
        this.devices = response.data.map(i => i);
      },
      data: {
        devices: []
      }
    })
  </script>
</body>

</html>
